{% extends 'Navbar.html' %}
< html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block body%}
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ERP</h5>
        <p class="card-text">TO OPE ERP</p>
        <a href="https://erp.kluniversity.in/" class="btn btn-primary">ERP</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">SIL</h5>
        <p class="card-text">OPEN FOR SIL REGESTRATION</p>
        <a href="https://academics.klef.in/login" class="btn btn-primary">SIL</a>
      </div>
    </div>
  </div>
</div>
{%endblock%}
</body>
</html>